- name: Install docker
  apt:
    name: docker.io
    state: present

- name: Add deploy user to docker group
  user:
    name: deploy
    groups: docker
    append: yes

- name: Start and enable docker service
  service:
    name: docker
    state: started
    enabled: yes