# Terraform
terraform/**/.terraform/
terraform/**/*.tfstate
terraform/**/*.tfstate.*
terraform/**/*.tfvars
!terraform/**/*.tfvars.example
terraform/**/*.tfvars.json
terraform/**/crash.log
terraform/**/crash.*.log
terraform/**/override.tf
terraform/**/override.tf.json
terraform/**/*_override.tf
terraform/**/*_override.tf.json

# Ansible
ansible/**/**/*.retry
ansible/**/.vault_pass
ansible/**/.vault_pass.txt
ansible/**/vault_pass
ansible/**/vault_pass.txt
ansible/**/*.vault_pass
ansible/**/inventory.local
ansible/**/inventory/*.local
ansible/**/ansible.log
ansible/**/.ansible/
ansible/**/collections/
ansible/**/.vault_pass

# Apps
apps/**/.env
apps/**/node_modules/

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log
