# Terraform (terraform/examples/ dan subfolder lain)
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
!*.tfvars.example
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE & OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log
