- name: Create app network
  docker_network:
    name: app_network

- name: Pull backend image
  docker_image:
    name: agung96tm/node-api-app
    source: pull

- name: Run backend container
  docker_container:
    name: node-api
    image: agung96tm/node-api-app
    state: started
    restart_policy: always
    networks:
      - name: app_network
    ports:
      - "8000:3000"
    env:
      PORT: "3000"
      NODE_ENV: "production"
      APP_NAME: "node-api-app"
      JWT_SECRET: "{{ jwt_secret }}"
      DATABASE_URL: "{{ database_url }}"

- name: Pull frontend image
  docker_image:
    name: agung96tm/node-react-app
    source: pull

- name: Run frontend container
  docker_container:
    name: node-react
    image: agung96tm/node-react-app
    state: started
    restart_policy: always
    networks:
      - name: app_network
    ports:
      - "3000:80"
